node_modules/
.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist/
build/
.vscode/
.idea/

# User Data & Websites
www/
temp/
data/mysql/
logs/
bin/security/clamav/
bin/database/mariadb/
bin/php/
bin/web/apache/
bin/web/nginx/
bin/apps/phpmyadmin/

# Local Builds
!YumnaControlCenter.exe
!Launcher.cs
YumnaIcon.ico
MakeIcon.exe
MakeIcon.cs
