[Unit]
Description=Yumna Server Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/yumnapanel/agent
ExecStart=/usr/bin/npm start
Restart=always
Environment=NODE_ENV=production
EnvironmentFile=/opt/yumnapanel/agent/.env

[Install]
WantedBy=multi-user.target
